/* use a non-serif font */
html {
  font-family: 'verdana', sans-serif;
}

/* get rid of the browser's default margin and padding around the body */
body {
  margin: 0;
  padding: 0;
}

/* absolute position the map container as full screen, leaving 300 pixels on the left */
#map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 300px;
  left: 0px;
  color:#fff;

}

h3 {
  margin-top: 0;
  font-size: 1.8rem;
}

#sidebar {
  float: right;
  width: 300px;
  hieght: 1500 px;
  background-color: #000;
  color: #FFF;
  padding: 25px;
  box-sizing: border-box;
}
button:hover {
  cursor: pointer;
  background-color: #006987;
}
